Redirect /bugs.html https://cygwin.com/problems.html
Redirect /cvs.html https://cygwin.com/git.html
Redirect /setup.html https://cygwin.com/packages.html

# https://cygwin.com/ml/cygwin/2010-02/msg00149.html
<FilesMatch "^setup-(x86|x86_64)\.exe(|.sig)$">
    ExpiresActive On
    ExpiresDefault "now"
</FilesMatch>
