/* CSS variables --------------------------------------------------------- */

:root
{
  --black: black;
  --white: white;
  --big-title: #990033;
  --nav-background: #80a0a0;
  --heading: #99003f;
  --code: #80a0a020;
  --cartouche: #e8e8e8;
  --table: #f2f2f2;
  --table-hover: #fdd9b5;
}

body
{
  color: var(--black);
}

a:link
{
  color: #5555cc;
  text-decoration: underline;
}

a:visited
{
  color: #000066;
  text-decoration: underline;
}

/* Navbar related -------------------------------------------------------- */

#navbar
{
position: absolute;
left: 0.5em;
max-width: 12em;
background-color: var(--nav-background);
color: var(--white);
text-align: left;
}

#navbar li
{
  overflow: hidden;
}

#navbar li:hover:not(.nohover)
{
  overflow: hidden;
  background-color: #608080;
}

#navbar ul
{
  list-style-type: none;
  margin-top: .5em;
  margin-bottom: .8em;
/*
  It's browser dependent which one of margin-left: and padding-left: we need to
  cancel the default list indentation.
*/
  margin-left: 0em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#navbar a
{
  overflow: hidden;
  font-size: small;
  font-weight: 500;
  color: var(--white);
  text-decoration: none;
  font-family: sans-serif;
}

#navbar a.gold
{
  color:gold;
}

#navbar ul ul
{
  margin-top: 0em;
  margin-bottom: 0em;
  padding-left: 0.75em;
}

/* Add menu hierarchy for sections */
#navbar ul li a
{
  font-size: 13pt;
  font-weight: bold;
  padding: 2px;
}

/* Suppress style inside .nohover */
#navbar ul li.nohover a
{
  font-size: initial;
  font-weight: initial;
  padding: initial;
}

#navbar ul li.nohover li
{
  margin-top: 5px;
  line-height: 1.1;
}

div#main
{
  margin-left: 30px;
}

/* top related ----------------------------------------------------------- */

div.logo img
{
  display: inline-block;
  position: absolute;
  height: 70px;
  top: 4px;
  left: 10px;
}

/* move div.cartouche to accomodate logo using absolute positioning */
div#top div.cartouche
{
  padding-left: 80px;
}

/* Two-column what is/isn't it layout ------------------------------------ */

.no-vert-margins
{
  margin-top: 0em;
  margin-bottom: 0em;
}

#leftwhat
{
  float: left;
  width: 50%;
  padding: 0.1px; /* rounds down to 0, but prevents margin collapse */
  padding-left: 1.5em;
  padding-right: 0;
  margin-right: 0;
}

#rightwhat
{
  margin-left: 50%;
  border-left: 2px solid var(--cartouche);
  padding: 0.1px; /* rounds down to 0, but prevents margin collapse */
  padding-left: 1.5em;
}

#wrap
{
  position: relative;
  width: 100%;
  margin:0 auto;
  font-size: .9em;
}

#endwrap
{
  clear: both;
  border-top: 2px solid var(--cartouche);
}

/* main ------------------------------------------------------------------ */

#main
{
  position: relative;
  left: 12em;
  margin-right: 22em;
  min-width: 45em;
}

#main h1
{
  font-family: sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: var(--heading);
}

#main h2
{
  font-size: 1.3em;
  color: var(--heading);
}

#main h3
{
  font-size: 1.1em;
  color: var(--heading);
  margin-bottom: 0ex;
}

#main h4
{
  font-size: 1em;
  color: var(--heading);
}

#main .catchphrase
{
  margin-top: 1ex;
  margin-left: 6px;
  margin-right: 6px;
  text-align: left;
  font-style: italic;
  padding-left: 6px;
}

#main .command
{
  margin-bottom: 1ex;
  margin-top: 1ex;
  text-align: center;
  font-family: monospace;
}

#main li
{
  position: relative;
  left: -1.5em;
  overflow: visible;
}

/* Header/footer styles -------------------------------------------------- */

#big-title
{
  font-family: sans-serif;
  font-size: 5em;
  color: var(--big-title);
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 6px;
  margin-right: 6px;
  padding-left: 4px;
}

#medium-title
{
  font-family: sans-serif;
  font-size: 3em;
  margin-bottom: 0.2em;
}

/* Footer */

#footer
{
  position: relative;
  font-size: 0.7em;
  border-top: 2px solid var(--cartouche);
  text-align: center;
}

/* rounded cartouche ----------------------------------------------------- */

.cartouche
{
  background: var(--cartouche);
  border-radius: 8px;
  padding: 4px;
}

/* miscellaneous styles -------------------------------------------------- */

table#mirroradmin
{
  width:90%;
  margin-left:5%;
  margin-right:5%;
  border:2px solid var(--black);
}

table.deben
{
  width:85%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  border:1px solid var(--black);
  border-collapse: collapse;
}

table.deben td,
table.deben th
{
  border-width: 1px;
  border-style: solid;
}

table.deben th
{
  color: var(--heading);
  border-color: var(--black);
}

table.deben tr:nth-child(odd)
{
  background-color: var(--table);
}

table.deben tr:hover
{
  background-color: var(--table-hover);
}

div#main .indent
{
  position: relative;
  margin-left: 2.5em;
}

ul.spaced li
{
  margin-top: 2ex;
}

ul.compact li
{
  margin-top: 0em;
}

.nodisplay
{
  display: none;
}

.smaller
{
  font-size: smaller;
}

.floatleft
{
  float: left;
}

.center
{
  text-align: center;
}

.right
{
  text-align: right;
}

.prewrap
{
  white-space: pre-wrap;
  margin-top: 0em;
  margin-bottom: 0em;
}

.underline
{
  text-decoration: underline;
}

.container
{
  display: flex;
  justify-content: space-between;
}

.container span
{
  flex-basis: 100%;
}

.green
{
  color: green;
}

.red
{
  color: red;
}

.amber
{
  color: goldenrod;
}

/* code and code-block styles -------------------------------------------- */

code
{
  background-color: #80a0a020;
  border-radius: 2px;
  padding: 0px 3px;
}

/* quickly identify code */
pre.example, pre.screen
{
  padding: 20px;
  line-height: 1.25;
}

pre.example, pre.screen
{
  background-color: #80a0a020;
}

/* link in code */
a > code
{
  font-weight: bold;
  font-size-adjust:.56;
}

/* code elements in dark table background */
table tr:nth-of-type(odd) td p code 
{
  background-color: white;
}

/* pkglist related ------------------------------------------------------- */

/*
  use a fixed table layout because the table is huge, and so with auto layout it
  can take a noticable time to load it all, before the browser can finalize the
  column widths.
*/

table.pkglist
{
  table-layout: fixed;
  width: 100%;
}

.pkglist td.pkgname
{
  width: 22.5em;
}

.pkglist tr:hover
{
  background-color: var(--cartouche);
}

.pkglist a
{
  background: url('/icons/ball.gray.gif')
              no-repeat;
  background-size: 10px 10px;
  background-position: left center;
  padding-left: 10px;
}

/* pkg summary related --------------------------------------------------- */

.detail
{
  color: var(--heading);
}

table.pkgtable
{
  border-collapse: collapse;
  border:1px solid var(--black);
}

table.pkgtable th
{
  background-color: var(--nav-background);
  color: var(--white);
  border-color: var(--black);
  border-width: 1px;
  border-style: solid;
}

table.pkgtable td
{
  border-width: 1px;
  border-style: solid;
}

table.pkgtable tr:nth-child(even)
{
  background-color: var(--table);
}

table.pkgtable tr:hover
{
  background-color: var(--table-hover);
}

table.pkgdetails p
{
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

table.pkgdetails td
{
  vertical-align: top;
}

table.pkgdetails tr td:first-child
{
  white-space: nowrap;
}

/* multicolumn list ------------------------------------------------------ */

.multicolumn-list
{
  -moz-column-width: 15em;
  -webkit-column-width: 15em;
  column-width: 15em;
  column-rule-style: double;
  column-rule-color: var(--heading);
  width: 90%;
  margin: auto;
}

.multicolumn-list p
{
  margin: 0;
}

/* packaging related ----------------------------------------------------- */

.sample-email
{
  font-family: monospace;
  border-width: 1px;
  border-style: solid;
  margin-left:5%;
  margin-right:5%;
}

.sample-preformat
{
  margin-left:5%;
  margin-right:5%;
}

/* acronyms related ------------------------------------------------------ */

.valigntop td, .valigntop th
{
  padding-left: 8px;
  padding-right: 8px;
}

.valigntop tr
{
  vertical-align:top;
}

.valigntop p
{
  margin-top: 0px;
}

/* grid table style used for reports-------------------------------------- */

table.grid
{
  width: 95%;
  margin-left:auto;
  margin-right:auto;
  border: 1px solid var(--black);
  border-collapse: collapse;
}

table.grid th
{
  text-align: left;
  border: 1px solid var(--black);
  border-collapse: collapse;
  background-color: var(--black);
  color: var(--white);
  padding: 0.3em;
}

table.grid tr:nth-child(even)
{
  background-color: var(--table);
}

table.grid tr.highlight
{
  background-color: #daa520;
}

table.grid td
{
  border: 1px solid var(--black);
  border-collapse: collapse;
  padding: 0.3em;
}

table.grid tr:hover
{
  background-color: var(--table-hover);
}

table.grid td.succeeded, table.grid td.deployed
{
  background-color: #33a25c;
}

table.grid td.failed
{
  background-color: #a23336;
}

.gridfooter
{
  width: 95%;
  margin-left:auto;
  margin-right:auto;
}
