<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="../style.css" />
    <title>Cygwin Snapshots</title>
  </head>

<body>
<!--#include virtual="../navbar.html" -->
<div id="main">
<!--#include virtual="../top.html" -->
<h1>Cygwin Snapshots</h1>
<p>Please read the notes at the bottom of this page.  <strong>These
snapshots have not been tested.</strong> These are built and packaged
on a periodic basis.  The only guarantee is that things build.
There is no snapshot if the build fails.</p>

<p>Warning: use Shift-click or right click to download the
<tt>*.xz</tt> files if you try just clicking and see junk text in your
web browser.</p>

<table cellspacing=0 cellpadding=0 border=0>

<tr><td><tt>cygwin1-*.dll.xz &nbsp;</tt></td>
<td>stripped and compressed <tt>cygwin1.dll</tt> (<tt>unxz</tt>, <tt>chmod +x</tt> and rename to <tt>/usr/bin/cygwin1.dll</tt>)</td></tr>

<tr><td><tt>cygwin1-*.dbg.xz &nbsp;</tt></td>
<td>debugging information for <tt>cygwin1.dll</tt> (<tt>unxz</tt> and rename to <tt>/usr/lib/debug/usr/bin/cygwin1.dbg</tt> for use with <tt>gdb</tt>)</td></tr>

<tr><td><tt>cygwin-*.tar.xz &nbsp;</tt></td>
<td>directory from "<tt>make install</tt>" (dll, exes, libs, headers, etc)</td></tr>

<tr><td><tt>cygwin-*-src.tar.xz &nbsp;</tt></td>
<td>all sources needed to build <tt>cygwin1.dll</tt> (<tt>winsup</tt>,
<tt>newlib</tt>, etc)</td></tr>

</table>

<p>For log messages, please check
the <a href="https://sourceware.org/git/?p=newlib-cygwin.git;a=shortlog">Git
shortlog</a> or
the <a href="https://sourceware.org/git/?p=newlib-cygwin.git;a=log">Git
log</a>.
<br/>You can also look at
the <a href="https://sourceware.org/git/?p=newlib-cygwin.git;a=tree">Git
source tree</a>.

<p><table width="100%" cellspacing="0" cellpadding="2" rules="all" frame="box">

<var perday>

</table></p>

<h2 class="cartouche">Reporting guidelines</h2>

<p>Snapshots are generated sporadically, usually when there have been
bug fixes in the Cygwin sources.</p>

<p>Snapshots are provided as an advance look at the next
version of Cygwin.  Users are encouraged to <a href="https://cygwin.com/faq.html#faq.setup.snapshots">try them</a> and report problems
to the <a href="https://cygwin.com/lists.html">Cygwin mailing list</a>.
Testing snapshots helps ensure good Cygwin DLL releases.</p>
</div>
</body>
</html>
