Redirect permanent /links.html http://x.cygwin.com/
Redirect permanent /chat.html http://cygwin.com/irc.html
Redirect permanent /faq.html http://x.cygwin.com/docs/faq/
Redirect permanent /donations.html http://cygwin.com/donations.html
