Redirect /cygport/cygport.1.html https://cygwin.github.io/cygport/cygport.1.html
Redirect /cygport/manual.html https://cygwin.github.io/cygport/toc_index.html
Redirect /cygport/README https://github.com/cygwin/cygport/blob/master/README
